In [14]:
import pandas as pd
import glob
from pandas.io.json import json_normalize

In [71]:
df = pd.concat([pd.read_json(file) for file in glob.glob("data_temp/*.json")])

In [77]:
df.shape

(3108272, 4)

In [74]:
df.head()

,patents,count,total_patent_count
0,"{'patent_number': '5855065', 'patent_year': '1...",4801,4801
1,"{'patent_number': '5855105', 'patent_year': '1...",4801,4801
2,"{'patent_number': '5855116', 'patent_year': '1...",4801,4801
3,"{'patent_number': '5855258', 'patent_year': '1...",4801,4801
4,"{'patent_number': '5855266', 'patent_year': '1...",4801,4801

In [75]:
df = df.patents.apply(pd.Series)

In [76]:
df.head()

,patent_number,patent_year,assignees,cpcs
0,5855065,1999,"[{'assignee_country': 'US', 'assignee_state': ...","[{'cpc_group_id': 'F01C'}, {'cpc_group_id': 'F..."
1,5855105,1999,"[{'assignee_country': 'US', 'assignee_state': ...",[{'cpc_group_id': 'B65B'}]
2,5855116,1999,"[{'assignee_country': 'US', 'assignee_state': ...","[{'cpc_group_id': 'F16H'}, {'cpc_group_id': 'Y..."
3,5855258,1999,"[{'assignee_country': 'US', 'assignee_state': ...",[{'cpc_group_id': 'F16F'}]
4,5855266,1999,"[{'assignee_country': 'US', 'assignee_state': ...","[{'cpc_group_id': 'F01P'}, {'cpc_group_id': 'F..."

In [78]:
items = []
for patent in df.itertuples():
    for assignee in patent.assignees:
        for cpc in patent.cpcs:
            items.append({
                "assignee_country": assignee["assignee_country"],
                "assignee_state": assignee["assignee_state"],
                "cpc_group_id": cpc["cpc_group_id"],
                "patent_number": patent.patent_number,
                "patent_year": patent.patent_year
            })

In [79]:
df_assignees = pd.DataFrame(items).drop_duplicates().dropna()

In [80]:
df_assignees.shape

(5575773, 5)

In [82]:
df_assignees.groupby(["assignee_state", "cpc_group_id", "patent_year", "assignee_country"]).count().reset_index()

       assignee_state cpc_group_id patent_year assignee_country  patent_number
0                  AK         A01B        2009               US              1
1                  AK         A01C        2009               US              1
2                  AK         A01G        2016               US              1
3                  AK         A01H        2008               US              1
4                  AK         A01K        1988               US              1
5                  AK         A01K        1999               US              1
6                  AK         A01K        2002               US              1
7                  AK         A01K        2006               US              1
8                  AK         A01K        2010               US              1
9                  AK         A01K        2012               US              1
10                 AK         A01K        2013               US              1
11                 AK         A01K        2014               US              1
12                 AK         A01K        2015               US              1
13                 AK         A01K        2016               US              2
14                 AK         A01M        2010               US              1
15                 AK         A01N        1991               US              1
16                 AK         A01N        1995               US              1
17                 AK         A01N        2015               US              1
18                 AK         A22B        2006               US              1
19                 AK         A22B        2009               US              1
20                 AK         A22B        2014               US              1
21                 AK         A22C        1992               US              1
22                 AK         A22C        2000               US              1
23                 AK         A22C        2002               US              1
24                 AK         A22C        2004               US              1
25                 AK         A22C        2011               US              1
26                 AK         A22C        2014               US              1
27                 AK         A23B        1994               US              1
28                 AK         A23B        1998               US              1
29                 AK         A23B        2003               US              1
...               ...          ...         ...              ...            ...
470945             WY         Y10T        1978               US              3
470946             WY         Y10T        1982               US              2
470947             WY         Y10T        1984               US              1
470948             WY         Y10T        1987               US              1
470949             WY         Y10T        1990               US              2
470950             WY         Y10T        1992               US              2
470951             WY         Y10T        1994               US              1
470952             WY         Y10T        1996               US              2
470953             WY         Y10T        1997               US              5
470954             WY         Y10T        1998               US              6
470955             WY         Y10T        1999               US              3
470956             WY         Y10T        2000               US              4
470957             WY         Y10T        2001               US              4
470958             WY         Y10T        2002               US              3
470959             WY         Y10T        2003               US              5
470960             WY         Y10T        2004               US              2
470961             WY         Y10T        2005               US              1
470962             WY         Y10T        2006               US              4
470963             WY         Y10T        2007               US              1
470964             WY         Y10T        2008               US              2
470965             WY         Y10T        2009               US              1
470966             WY         Y10T        2010               US              6
470967             WY         Y10T        2011               US              7
470968             WY         Y10T        2012               US              3
470969             WY         Y10T        2013               US              8
470970             WY         Y10T        2014               US              7
470971             WY         Y10T        2015               US              8
470972             WY         Y10T        2016               US             12
470973             WY         Y10T        2017               US              7
470974             WY         Y10T        2018               US              4

[470975 rows x 5 columns]

In [83]:
df_assignees.to_pickle("./us_patents.pkl")